/*    Navbar    */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #353535;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  line-height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;

  padding: 13px;
}

#logo {
  margin-right: 17rem;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1410px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

  #logo {
    margin-right: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1410px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

hr {
  width: 463px;
  height: 0px;
  border: 1px solid #035282;
  margin: 3rem 0;
}

h4 {
  padding-top: 5rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #035282;
}

image {
  width: 1920px;
  height: 600px;
}

/*          Left Column          */

.sideList {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding-top: 5rem;
  padding-left: 20rem;
}

.sideList h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  color: #035282;
  margin-bottom: 1.5rem;
}

.sideList a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #035282;
  margin-bottom: 1.5rem;
  border-radius: 30px;
}

.nav-item .active {
  color: #fff;
  background-color: #035282;
  border-radius: 30px;
}

.nav-item a:hover {
  color: #fff;
  background-color: #035282;
  border-radius: 30px;
}

/*          Center Column          */

.productIntro li {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
  margin-bottom: 1.5rem;
}

/* Progress Bar */

.progress {
  height: 27px;
  margin: 0;
  overflow: visible;
  border-radius: 50px;
  background: #eaedf3;
  box-shadow: inset 0 10px 10px rgba(244, 245, 250, 0.9);
  margin-bottom: 2rem;
}
.progress .progress-bar {
  border-radius: 50px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.bar-container {
  margin: 3rem 0;
}

.detailTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
  margin: 0;
}

.detailText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #035282;
}

.detailText1 {
  width: 900px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

/*          Right Column          */

.imgs {
  margin-top: 11rem;
  padding-left: 5rem;
}

.img1 {
  width: 347px;
  height: 349px;
}

.img2 {
  width: 347px;
  height: 255px;
  margin-top: 7rem;
}

.img3 {
  width: 347px;
  height: 170px;
  margin-top: 7rem;
}

/*           Footer          */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: "Inter";
  font-style: normal;
}

.footer-distributed {
  background: #0078c1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 10%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
  margin-left: 15rem;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  margin-top: 3rem;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 25%;
}

.footer-distributed .footer-center i {
  background-color: #0078c1;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;

  font-size: 20px;
  color: #0078c1;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.fas{
  font-size: 1.5em !important; 
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 0;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
